.blog-section {
    padding: 20px;
    background-color: #f4f4f4; 
    border-radius: 8px; 
    max-width: 600px; 
    margin: auto; 
    box-shadow: 2 4px 8px rgba(0, 0, 0, 0.1); 
    /* display: flex; */
    /* gap: 20%;  */
  }
  
  
  .blog-section h2 {
    font-size: 2rem;
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  
  .blog-content, .case-studies {
    margin-bottom: 20px; 
    padding: 15px;
    background-color: #fff; 
    border-radius: 5px; 
    border: 1px solid #ddd; 
  }
  
  
  .blog-content h3, .case-studies h3 {
    font-size: 1.5rem;
    color: #222; 
    margin-bottom: 10px;
  }
  
  
  .blog-content p, .case-studies p {
    font-size: 1rem;
    color: #555; 
    line-height: 1.6; 
  }
  
  
  .blog-content a, .case-studies a {
    color: #007bff; 
    text-decoration: none; 
  }
  
  .blog-content a:hover, .case-studies a:hover {
    text-decoration: underline; 
  }
  